@media screen and (max-width: 750px) {
    .header-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;/*容器内项目换行方式*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }

    .header-text .header-text-line1 {
        width:77px;
        height:5px;
        background:rgba(0,106,255,1);
        margin-bottom: 44px;
        margin-top: 23px;
    }
    .header-text-item {
        font-size:22px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(103,108,118,1);
        line-height:38px;
        width: 300px;
        text-align: left;
    }
    .header-text-line2 {
        height:45px;
        font-size:32px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        line-height:45px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .header-text-item2 {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
    }
    .header-text-item2-3 {
        margin-top: 30px;
        font-size:16px;
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(0,106,255,1);
        line-height:22px;
    }
    .influence {
        /*display: flex;*/
        margin-top: 60px;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .influence .pain-spot-image {
    }
    .influence .teacher-macbook {
        margin: 0 auto;
        width:250px;
        /*height:238px;*/
    }
    .influence-blank {
        width: 269px;
    }
    .influence .pain-spot-text {
        width:300px;
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
        margin-top: 10px;
    }
    .influence-title {
        margin-bottom: 30px;
    }
    .range {
        display: flex;
        margin-top: 60px;
        flex-direction: column;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .range-title {
        font-size:32px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        line-height:45px;
        margin-bottom: 10px;
    }
    .range .range-text {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:32px;
        margin-top: 10px;
        text-align: left !important;
    }
    .participate-range {
        display: flex;
        margin-top: 60px;
        flex-direction: column;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .participate-range-text {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(46,132,255,1);
        line-height:28px;
    }
    .course {
        /*display: flex;*/
        margin-top: 60px;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: space-around;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .why-lark .course .public-class-title{
        text-align: start;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .course-text {
        /*width:448px;*/
        /*height:112px;*/
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
    }
    .lf-partner .lf-partner-title{
        font-size:27px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        /*line-height:67px;*/
        /*margin-bottom: 30px;*/
    }
    .header-content_right, .header-content_right .header-content_img {
        width: 251px;
        margin: 4vw auto 0;
    }

}
@media screen and (min-width: 750px) {
    .header-content_left .header-subtitle-public-class {
        width: 575px;
        margin-top: 39px;
    }
    .index-header .header-content-public-class {
        margin-top: 172px;
    }
    .header-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;/*容器内项目换行方式*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .header-text .header-text-line1 {
        width:77px;
        height:5px;
        background:rgba(0,106,255,1);
        margin-bottom: 44px;
        margin-top: 23px;
    }
    .header-text-item {
        font-size:22px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(103,108,118,1);
        line-height:38px;
        width: 812px;
        text-align: center;
    }
    .header-text-line2 {
        height:45px;
        font-size:32px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        line-height:45px;
        margin-top: 106px;
        margin-bottom: 44px;
    }
    .header-text-item2 {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
    }
    .header-text-item2-3 {
        margin-top: 30px;
        font-size:16px;
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(0,106,255,1);
        line-height:22px;
    }
    .influence {
        display: flex;
        margin-top: 133px;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .influence .pain-spot-image {
    }
    .influence .teacher-macbook {
        width:310px;
        height:238px;
    }
    .influence-blank {
        width: 269px;
    }
    .influence .pain-spot-text {
        width:461px;
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
    }
    .influence-title {
        margin-bottom: 30px;
    }
    .range {
        display: flex;
        margin-top: 160px;
        flex-direction: column;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .range-title {
        font-size:32px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        line-height:45px;
        margin-bottom: 42px;
    }
    .range .range-text {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:32px;
    }
    .participate-range {
        display: flex;
        margin-top: 160px;
        flex-direction: column;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: center;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .participate-range-text {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(46,132,255,1);
        line-height:28px;
    }
    .course {
        display: flex;
        margin-top: 160px;
        /*flex-wrap: wrap;!*容器内项目换行方式*!*/
        justify-content: space-around;/*项目在主轴上的对齐方式*/
        align-items: center;/*项目在交叉轴上如何对齐*/
        align-content: center;/*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
    }
    .why-lark .course .public-class-title{
        text-align: start;
        margin-bottom: 30px;
    }
    .course-text {
        width:448px;
        height:112px;
        font-size:20px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(59,70,87,1);
        line-height:28px;
    }
    .lf-partner .lf-partner-title{
        font-size:48px;
        font-family:PingFangSC-Semibold,PingFangSC;
        font-weight:600;
        color:rgba(20,31,51,1);
        line-height:67px;
        margin-bottom: 30px;
    }
}


